@use '../../styles/theme-vars';

.aspect-ratio {
    position: relative;
    width: 100%;

    &::before {
        content: '';
        display: block;
        padding-bottom: var(--aspect-ratio-padding, 56.25%);
    }
}

.aspect-ratio__inner {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: inherit;

    > img,
    > video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
