.qrcode {
    display: inline-block;
    position: relative;
    user-select: none;

    &__canvas,
    &__svg {
        display: block;
        width: 100%;
        height: 100%;
    }

    &__canvas {
        image-rendering: pixelated;
        image-rendering: -moz-crisp-edges;
        image-rendering: crisp-edges;
    }

    &__svg {
        shape-rendering: crispEdges;
    }
}
