.container .table {
    text-align: right;

    line-height: 1;

    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    border-collapse: collapse;
}

.table-header {
    background-color: #557fcc;
    width: 100%;
    border-bottom: 3px solid rgb(82, 82, 82);
    padding: 10px;
    cursor: pointer;
    text-align: center;
}
