@import '../../styles/_themes.scss';

.container .table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;

    @include themify() {
        background-color: themed('backgroundColor');
        color: themed('textColor');
        border: 2px solid themed('textColor');
        box-shadow: themed('box-shadow');
    }
}

.container td,
.container th {
    padding: 12px 15px;
}

.container thead tr {
    text-align: center;
    cursor: pointer;

    @include themify() {
        background-color: themed('backgroundColor');
        color: themed('textColor');
        border: 2px solid themed('textColor');
    }
}

.container tbody tr {
    border-bottom: thin solid #dddddd;
    text-align: center;
}

.container tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.container tbody tr.active-row {
    font-weight: bold;
}
