.table {
    color: whitesmoke;
    background-color: rgb(192, 206, 212);
    background-image: linear-gradient(
        to right,
        rgb(192, 206, 212),
        rgb(158, 168, 172)
    );
    font-size: 24px;

    font-family: Helvetica, Arial, sans-serif;
    font-weight: 700;

    text-align: right;

    line-height: 1;

    padding: 10px;
    border-radius: 20px;
}

.table-header {
    width: 100%;
    border-bottom: 3px solid rgb(82, 82, 82);
    padding: 10px;
    cursor: pointer;
    text-align: center;
}
